---
import BaseHead from "@components/BaseHead.astro";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";

interface LayoutProps {
  title: string;
  description: string;
}

const { title, description }: LayoutProps = Astro.props as LayoutProps;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
